<div class="row">
  <p>inlognaam: {{ gebruiker.naam }}</p>
</div>
<p>uw gerechten:</p>
<div class="row">
  <div class="box" *ngFor="let gerecht of gerechten"> {{ gerecht.naam }}
    <!-- <button (click)="verwijderGerecht(gerecht)">verwijderen</button> -->
    <br/> ingredienten:
    <div class="smallBox" *ngFor="let ingredient of gerecht.ingredienten ">
      {{ ingredient.hoeveelheid }} {{ ingredient.eenheid }} {{ ingredient.naam }}
      <!-- <button (click)="verwijderIngredient(ingredient)">verwijderen</button> -->
    </div>
  </div>
</div>
<button id="btnGetRandomGerecht" (click)=getRandomGerecht()>Zoek random gerecht</button>
<div *ngIf="randomGerecht">
  Uw random gerecht is: {{ randomGerecht.naam }}
</div>
<button id="btnGerechtToevoegen" (click)="gerechtAanmakenZichtbaar = true">gerecht toevoegen</button>
<div *ngIf="gerechtAanmakenZichtbaar">
  <form [formGroup]="form" (ngSubmit)="gerechtAanmaken()" novalidate>
    <div class="form-group">
      <label id="lblGerechtNaam" for="txtGerechtNaam" class="col-form-label">Naam</label>
      <input type="text" class="form-control" id="txtGerechtNaam" formControlName="GerechtNaam">
      <label id="lblVlees" for="tbVlees" class="col-form-label" checked=false>Bevat vlees</label>
      <input type="checkbox" class="form-control" id="tbVlees" formControlName="Vlees">
      <label id="lblVis" for="tbVis" class="col-form-label" checked=false>Bevat vis</label>
      <input type="checkbox" class="form-control" id="tbVis" formControlName="Vis">
      <label id="lblAantalPersonen" for="txtAantalPersonen" class="col-form-label">Aantal personen</label>
      <input type="text" class="form-control" id="txtAantalPersonen" formControlName="AantalPersonen">
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" id="btnSubmit">Toevoegen</button>
        <!-- hier ingredienten weer legen en sturen van ingredienten die op dat moment aanewzig zijn -->
      </div>
    </div>
  </form>
</div>
<div *ngFor="let ingredient of ingredienten">
  {{ ingredient.naam }} - {{ ingredient.hoeveelheid }} {{ ingredient.eenheid }}
</div>
<div *ngIf="gerechtAanmakenZichtbaar">
  <form [formGroup]="form" (ngSubmit)="ingredientToevoegen()" novalidate>
    <div class="form-group">
      <label id="lblIngredientNaam" for="txtIngredientNaam" class="col-form-label">Naam</label>
      <input type="text" class="form-control" id="txtIngredientNaam" formControlName="IngredientNaam">
      <label id="lblHoveelheid" for="txtHoeveelheid" class="col-form-label">Hoeveelheid</label>
      <input type="text" class="form-control" id="txtHoeveelheid" formControlName="Hoeveelheid">
      <label id="lblEenheid" for="txtEenheid" class="col-form-label">Eenheid</label>
      <input type="text" class="form-control" id="txtEenheid" formControlName="Eenheid">
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" id="btnSubmit">Ingredient toevoegen</button>
      </div>
    </div>
  </form>
</div>
