<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div *ngIf="!inlognaam">
    <div aanmaken:boolean=f alse *ngIf="!aanmaken">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label id="lblGebruikersnaam" for="txtGebruikersnaam" class="col-form-label">Gebruikersnaam</label>
          <input type="text" class="form-control" id="txtGebruikersnaam" formControlName="Gebruikersnaam">
          <label id="lblWachtwoord" for="txtWachtwoord" class="col-form-label">Wachtwoord</label>
          <input type="text" class="form-control" id="txtWachtwoord" formControlName="Wachtwoord" type="password">
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" id="btnSubmit">Login</button>
          </div>
        </div>
      </form>
      <div class="col">
        <button id="btnAanmaken" (click)="aanmaken = true">Aanmaken</button>
      </div>
    </div>
    <div *ngIf="aanmaken">
      <form [formGroup]="form" (ngSubmit)="gebruikerAanmaken()" novalidate>
        <div class="form-group">
          <label id="lblGebruikersnaam" for="txtGebruikersnaam" class="col-form-label">Gebruikersnaam</label>
          <input type="text" class="form-control" id="txtGebruikersnaam" formControlName="Gebruikersnaam">
          <label id="lblWachtwoord" for="txtWachtwoord" class="col-form-label">Wachtwoord</label>
          <input type="text" class="form-control" id="txtWachtwoord" formControlName="Wachtwoord" type="password">
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" id="btnSubmit">Aanmaken</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="inlognaam">
    <p>inlognaam: {{ inlognaam }}</p>
    <p>uw gerechten:</p>
    <p *ngFor="let gerecht of gerechten"> {{ gerecht.naam }}</p>
    <button id="btnGetRandomGerecht" (click)=getRandomGerecht()>Zoek random gerecht</button>
    <div *ngIf="randomGerecht">
      Uw random gerecht is: {{ randomGerecht.naam }}
    </div>
    <button id="btnGerechtToevoegen" (click)="gerechtAanmakenZichtbaar = true">gerecht toevoegen</button>
    <div *ngIf="gerechtAanmakenZichtbaar">
      <form [formGroup]="form" (ngSubmit)="gerechtAanmaken()" novalidate>
        <div class="form-group">
          <label id="lblGerechtNaam" for="txtGerechtNaam" class="col-form-label">Naam</label>
          <input type="text" class="form-control" id="txtGerechtNaam" formControlName="GerechtNaam">
          <label id="lblVlees" for="tbVlees" class="col-form-label" checked=false>Bevat vlees</label>
          <input type="checkbox" class="form-control" id="tbVlees" formControlName="Vlees">
          <label id="lblVis" for="tbVis" class="col-form-label" checked=false>Bevat vis</label>
          <input type="checkbox" class="form-control" id="tbVis" formControlName="Vis">
          <label id="lblAantalPersonen" for="txtAantalPersonen" class="col-form-label">Aantal personen</label>
          <input type="text" class="form-control" id="txtAantalPersonen" formControlName="AantalPersonen">
        </div>
        https://medium.com/spektrakel-blog/angular2-building-nested-reactive-forms-7978ecd145e4
        <div class="row">
          <div class="col">
            <button type="submit" id="btnSubmit">Toevoegen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
